<div class="container-fluid bg-light">

    <div class="container bg-light">

        <div class="row mt-4" style="height: 500px;">

            <div class="col"></div>
            <div class="col-md-9 bg-white shadow">

                <div class="card bg-success mt-4">

                    <h4 class="text-white ps-3 pt-2 pb-2">Lista de Tarefas</h4>

                </div>

                <div class="shadow">

                    <div class="input-group p-4">
                        <input type="text" class="form-control"
                            placeholder="Qual será a tarefa?"
                            aria-label="Qual será a tarefa?"
                            name="task" [(ngModel)]="addTaskValue"  (keydown.enter)="addTask()">
                          <button class="btn btn-outline-success" type="button"
                            (click)="addTask()">Adicionar
                            Tarefa</button>
                    </div>

                </div>

                <h4 class="text-primary mt-4">Tarefas: </h4>

                <div style="overflow-y: auto; height: 350px">

                    <div class="m-3" *ngFor="let task of taskArray">

                        <div class="p-2 shadow border">

                            <div class="input-group row ps-3">
                                <div class="card col-md-10 border-0 d-flex justify-content-center">{{
                                    task.task_name }}</div>
                                <button class="btn btn-outline-primary col me-2" data-bs-toggle="modal"  type="button" data-bs-target="#exampleModal" (click)="call(task)"><i
                                        class="bi bi-pencil-square" ></i></button>
                                <button class="btn btn-outline-danger col" (click)="deleteTask(task)"> <i
                                        class="bi bi-trash3-fill"></i></button>
                            </div>
                        </div>

                    </div>

                </div>

  

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Tarefa</h1>
          <button type="button" class="btn-close"  aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="input-group p-4">
                <input type="text" class="form-control"
                    placeholder="Editando tarefa..."
                    aria-label="Editando tarefa..."
                    name="task" [(ngModel)]="editTaskValue">
                  <button class="btn btn-outline-success" type="button"
                    (click)="editTask()" data-bs-dismiss="modal">Salvar Tarefa</button>
            </div>
        </div>
        
      </div>
    </div>
  </div>

            </div>
            <div class="col">

            </div>

        </div>

    </div>
</div>